<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      body{
          font-size: 14px;
      }
      .menu{
          background: #B0A8B9;
          width: 100%;
          height: 400px;
          padding: 20px 15px;
          display: block;
      }
      .menu ul{
        margin: 0px;
        padding:0px;
      }
      .menu ul li{
        display: block;
        padding: 15px;
        list-style-type: none;
        cursor: pointer;
      }
      .menu h3{
          color: #4B4453;
      }
  </style>
</head>
<body>



</body>
</html>
<!-- #845EC2
#B0A8B9 -->